[Database]
dbPath = camera_server.db

[Camera]
startRtcp = rtsp://
endRtcp = /Streaming/Channels/202/

[UDP]
IP_PythonServer = 127.0.0.1
IP_Port_Listen = 5000
IP_Port_Send = 5001
IP_Port_Remote = 5002

[NEUROMODEL]
ConfigPath = 
WeightsPath = YOLOv11/yolov8n.onnx
CocoNamesPath = 

[TCP_Servers]
IP_PHP = 192.168.7.14
PORT_PHP = 8080
IP_ESP = 192.168.7.17
PORT_ESP = 4444
